#root {
    background-color:mintcream;
}
.headerText {
    padding-bottom: 15px;
    font-size: 60px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-shadow: rgb(172, 172, 172) 2px 2px 2px;   
    color:rgb(130, 155, 94);
}

.searchBtn{
    margin-top:24px;
    margin-bottom: 4px;
}

.input-group {
    margin-top: 24px;
    margin-bottom: 17px;
}

 .container-fluid {
    background-image: url(./components/container/navbackground.png);
    background-repeat:repeat-x;
    background-size: contain;
    box-shadow:
    -1px -1px 0 rgba(255, 255, 255, 0),
    1px 1px 0 rgba(0,0,0,.25),
    3px 3px 3px rgba(0,0,0,.25),
    1px 1px 2px rgba(68, 68, 68, 0.25),
    2px 4px 4px rgba(68, 68, 68, 0.25); 
}

.tableEmployee{
    margin-left: 90px;

}

th {
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
}

tr {
    box-shadow:
    -1px -1px 0 rgba(255, 255, 255, 0),
    1px 1px 0 rgba(0,0,0,.25),
    3px 3px 3px rgba(68, 68, 68, 0.25),
    1px 1px 2px rgba(68, 68, 68, 0.25),
    2px 4px 4px rgba(68, 68, 68, 0.25); 
    border: rgb(172, 172, 172) 2px solid;
}

.table {
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    border: rgb(172, 172, 172) 2px solid;
}

thead{
    border:rgba(255, 255, 255, 0.25) 2px solid;
}
